.accordion {
  display: block;
}

.accordion > h3 {
  font-weight: 500;
  display: block;
  border-top: 3px solid var(--main-theme-color-dark, #2f7a6f);
  cursor: pointer;
  background: var(--main-theme-color-dark, #4abdac);
  color: var(--main-text-color-light, #fafafa);
  padding: 0.5em 0.3em;
}

.accordion.open > h3 {
  background: var(--secondary-theme-color-light, #f7b733);
  border-color: var(--secondary-theme-color-dark, #fc4a1a);
}

.accordion-content {
  padding: 0.5em;
}
