/* CSS Cusom Properties for the whole application */
:root {
  --main-theme-color-dark: #2f7a6f;
  --main-theme-color-light: #4abdac;
  --secondary-theme-color-dark: #fc4a1a;
  --secondary-theme-color-light: #f7b733;
  --main-text-color-light: #fafafa;
}

body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

h1 {
  margin: 0.5em;
  font-size: 2em;
  color: var(--main-theme-color-dark, #2f7a6f);
  font-weight: 600;
}
